/* Основные цвета макета 
Основной - черный color: #212121; 
Вторичный - серый color: #757575; 
Акцент - синий color: #2196F3;  
Белый - #FFFFFF*/

/* :root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
} */

/* Основные шрифты */

/* body {
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .visuality-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* reset styles */
/* h1,
h2,
h3,
p,
img {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
} */



/* HEADER */

/* .header {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  margin-right: auto;
}

.header .container,
.header-nav,
.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__list {
  gap: 50px;
}

.header .link .current {
  color: var(--accent-color);
}

.header-nav__logo,
.footer__logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.leader-nav__logo--top {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.leader-nav__logo--black{
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}


.header-nav__list {
  position: relative;
}

.header-nav__link--accent{
  color: var(--accent-color);
}

.header-nav__link,
.header-nav__mail,
.header-nav__contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link--underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
} */


/* Контакти */

/* .header-nav__mail {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__mail:hover,
.header-nav__mail:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.header-nav__icon {
  width: 16px;
  height: 10px;
  margin-right: 10px;
  fill: inherit;
}

.header-nav__contacts {
  color: var(--title-text-color);
}

.header-nav__contacts:hover,
.header-nav__contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */


/* Section main */

/* .section-main {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/logo/img-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-main__headline {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
} */

/* Button */
/* 
.button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #188ce8;
}

.section-main__button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
} */

/* Backdrop */

/* .backdrop{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

/* MODAL */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.modal__btn-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-modal:hover,
.modal__btn-modal:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  background-color: rgba(255, 255, 255, 1);
}


.modal__btn-icon--close {
  position: relative;
}
 */

/* Form-MODAL */
/* 
.register-form{
  text-align: center;
}
  
.register-form-caption {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
  
.register-form__group {
  margin-bottom: 20px;
}
  
.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;
}
  
.register-form__wrap:last-child {
    margin-bottom: 0;
}
  
.register-form__label,
.register-form__input {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}
  
.register-form__icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
  
.register-form__input,
.register-form__mesasage {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 40px;
  outline: transparent;
  width: 100%;
}
  
.register-form__input:focus-within,
.register-form__input:hover,
.register-form__mesasage:focus-within,
.register-form__mesasage:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
  
.register-form__input:focus-within + .register-form__icon,
  .register-form__input:hover + .register-form__icon{
  fill: var(--accent-color);
}
  
.register-form__mesasage {
  resize: none;
  padding: 16px 12px;
  height: 120px;
} */
  
/* Form agreement */
/* 
.register-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  justify-content: center;
}

.register-form-agreement__checkbox:checked + .register-form-agreement__icon .register-form-agreement__icon--check {
  opacity: 1;
}

.register-form-agreement__checkbox:checked + .register-form-agreement__icon.register-form-agreement__icon--uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.register-form-agreement__icon--check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement__icon--uncheck {
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-agreement__icon--check {
opacity: 0;
}
  
.register-form-agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--title-text-color);
  user-select: none;
  text-underline-position: under;
}
  
.register-form-agreement-link {
  color: var(--accent-color);
}
  
  
.register-form__btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 10px, 52px;
  border-color: transparent;
  padding: 10px 52px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

/* Section desc*/

/* .section-desc {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-desc__list {
  display: flex;
  gap: 30px;
}

.section-desc__items {
  width: 270px;
}

.section-desc__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

.section-desc__icon {
  width: 70px;
  height: 70px;
}


.section-desc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-desc__text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
} */

/* Section subject*/

/* .section-subject {
  padding-bottom: 94px;
}

.section-subject__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-subject__list {
  display: flex;
  gap: 30px;
}

.section-subject__picture {
  position: relative;
}

.section-subject__caption {
  height: 70px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-subject__picture > .section-subject__caption{
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
} */

/* Section User */

/* .section-user {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-user__container {
  display: flex;
}

.section-user__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-user__picture {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-user__picture:last-child {
  margin-right: 0;
}

.section-user__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.section-user__subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.section-user__text {
  color: var(--title-text-color);
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.section-user__link{
  padding-left: 0;
  justify-content: center;
  gap: 10px;
}


.link-icon {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.user-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link-icon:hover .user-icon,
.link-icon:focus .user-icon {
  fill: #ffffff;
} */


/* Section-clients */

/* .section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}


.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-clients__box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__box:focus,
.section-clients__box:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.section-clients__box:focus .section-clients__icon,
.section-clients__box:hover .section-clients__icon {
  fill: var(--accent-color);
  border: var(--accent-color);
}

.section-clients__icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-clients__icon:hover,
.section-clients__icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-boxc:focus {
  border: var(--accent-color);
} */

/* Footer */

/* .footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  display: flex;
  align-items: baseline;
}


.footer-adress {
  gap: 9px;
}

.logo-down {
  display: block;
  margin-bottom: 20px;
}

.logo-footer {
  color: #ffffff;
}

address {
  font-style: normal;
}

.maps {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.maps:hover,
.maps:focus {
  color: var(--accent-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.icon-style {
  background: rgba(255, 255, 255, 0.1);
}


.logo-block {
  margin-right: 70px;
}

.footer-lisl {
  gap: 10px;
}

.block-join {
  display: flex;
  justify-content: center;
}


.join-footer {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;}

.register-join-input {
  margin: 0;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-join-input:hover,
.register-join-input:focus {
 border-color: var(--accent-color);
}
  
  
.footer-register-join {
  margin-left: 93px;
}


.btn-join {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  justify-content: center;

  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


.block-join {
  position: relative;;
  display: inline-block;
}

.footer-icon-join {
 top: 13px;
 right: 20px;
}


.list-link-footer {
  margin-bottom: 9px;
}

.list-link-footer:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
} */

/* PORTFOLIO */

/* .section__portfolio {
  background: #ffffff;
} */

/* BUTTON */
/* 
.portfolio__list-btn {
  display: flex;
  gap: 8px;
  padding-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__btn {
  border: none;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:last-child {
  margin-right: 0;
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio__btn--accent {
  color: #ffffff;
  background-color: var(--accent-color);
}



.portfolio__btn--current {
  color: var(--primery-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

 */

/* LIST */
/* 
.portfolio__list-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.portfolio__picture-card {
  position: relative;
  display: block;
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio__link-card{
  display: block;
  text-decoration: none;
  position: relative;
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 }

.portfolio__link-card:hover,
.portfolio__link-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio__link-card:hover .portfolio__title,
.portfolio__link-card:focus .portfolio__title {
  transform: translateY(0);
  opacity: 1;
}


.portfolio__container-card {
position: relative; 
overflow: hidden;
}

.portfolio__title {
  position: absolute;
  display: block;
  padding: 63px 24px;
  top: 0;
  width: 100%;
  height: 294px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__desc-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  }



.portfolio__caption-card {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text-card {
  color: var(--title-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}
 */
