.section__portfolio {
    background: #ffffff;
  }

  .portfolio__list-btn {
    display: flex;
    gap: 8px;
  
    @media screen and (max-width: 767px){
      padding-top: 60px;
      margin-bottom: 40px;
      flex-wrap: wrap;

      }

    @media screen and (min-width: 768px){
    padding-top: 60px;
    margin-bottom: 30px;
    justify-content: center;
    }

    @media screen and (min-width: 1200px){
    padding-top: 94px;
    margin-bottom: 50px;
    }
  }
  
  .portfolio__btn {
    border: none;
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
    &:last-child {
    margin-right: 0;
  }
  
    &:hover,
    &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
  }

  .portfolio__btn--accent {
    color: #ffffff;
    background-color: var(--accent-color);
  }
  
  .portfolio__btn--current {
    color: var(--primery-text-color);
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
  }

  .portfolio__list-card {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      margin-left: -90px;
      margin-top: -30px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: -30px;
      margin-top: -30px;
      padding-bottom: 94px;
    }


  }
  
  .portfolio__picture-card {
    position: relative;
    display: block;
    flex-basis: 3;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .portfolio__link-card{
    display: block;
    text-decoration: none;
    position: relative;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__link-card:hover,
  .portfolio__link-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio__link-card:hover .portfolio__title,
  .portfolio__link-card:focus .portfolio__title {
    transform: translateY(0);
    opacity: 1;
  }

  .portfolio__container-card {
  position: relative; 
  overflow: hidden;
  display: flex;
  gap: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
  width: 354px;
}

@media screen and (min-width: 1200px) {
  width: 370px;
}
  }
  
  .portfolio__title {
    @media screen and (min-width: 480px) {
      padding: 63px 24px;
      height: 294px;
    }
  
    @media screen and (min-width: 768px) {
      padding: 63px 24px;
      height: 294px;
  }
  
  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
    height: 294px;
    
  }


    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio__desc-card {
    padding: 20px 24px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    }
   
    .portfolio__caption-card {
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
    .portfolio__text-card {
    color: var(--title-text-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  