
@media screen and (max-width: 1199px) {
.section-subject {
  display: none;
}
}
.section-subject {
   
    padding-bottom: 94px;
  
  
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  
  &__list {
    display: flex;
    gap: 30px;
  }
  
  &__picture {
    position: relative;
  }
  
  &__caption {
    height: 70px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  &__picture > &__caption{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}