h1,
h2,
h3,
p,
img {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
}